<div class="card">
  <div class="card-header">Product List</div>
  <div class="card-body" *ngIf="products$ | async as products">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-3">
          <select class="form-select" (change)="onCategorySelect($event)">
            <option selected value="0">Display All</option>
            <option
              *ngFor="let product of productCategories$ | async"
              value="{{ product.id }}"
            >
              {{ product.name }}
            </option>
          </select>
        </div>
        <div class="col-2">
          <button class="btn btn-outline-secondary" (click)="onAddProduct()">Add Product</button>
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table mb-0">
        <thead>
          <tr>
            <th>Product</th>
            <th>Code</th>
            <th>Category</th>
            <th>Price</th>
            <th>In Stock</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>{{ product.productName }}</td>
            <td>{{ product.productCode }}</td>
            <td>{{ product.category }}</td>
            <td>${{ product.price }}</td>
            <td>{{ product.quantityInStock }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
